<div class="container">
    <div class="row align-items-center justify-content-center" >
      <div class="col-sm-4" >
        
        <div class="card gallery-img" style="width: 18rem;padding-left: 10px;" (click)="openModal('download (1).jpeg')">
          <img  src="../../../../../assets/swamiji/download (1).jpeg"  class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col-sm-4">
       
        <div class="card gallery-img" style="width: 18rem;">
          <img  src="../../../../../assets/swamiji/download.jpeg" class="card-img-top" alt="...">
          
        </div>
      </div>

    </div>
    <div class="row align-items-center justify-content-center" >
      <div class="col-sm-4">
        <div class="card gallery-img" style="width: 18rem;">
          <img  src="../../../../../assets/swamiji/download (3).jpeg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card gallery-img" style="width: 18rem;">
          <img  src="../../../../../assets/swamiji/download (2).jpeg" class="card-img-top" alt="...">
          
        </div>
      </div>

    </div>
    <div class="row align-items-center justify-content-center" >
      <div class="col-sm-4">
        
        <div class="card gallery-img" style="width: 18rem;">
          <img  src="../../../../../assets/swamiji/download (1).jpeg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col-sm-4">
        
        <div class="card gallery-img" style="width: 18rem;">
          <img src="../../../../../assets/swamiji/download.jpeg" class="card-img-top" alt="...">
          
        </div>
      </div>

    </div>
  </div>