/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
    font-size: 14px;
    color: #333333;
    font-weight: 500 !important;
  }
  .home{
      min-height: 500px;
      background-color: chocolate;
  }
  .gallery-img{
    height: 200px;
    padding: 10px;
    margin: 10px;
  }